.wrapper {
	font-size: 13px;
	font-style: italic;
	font-family: Courier New;
	margin-left: 20px;
	width: 150px;
	text-transform: lowercase;
	margin-top: -20px;
}

.wide {
	width: 300px;
}

.nolowercase {
	text-transform: none;
}

.nodisplay {
	display: none;
}

/*==================================*/

.header {
	color: red;
	margin-top: 50px;
	text-transform: uppercase;
}

.header:after{
	content: '*';
}

ul {
	list-style-type: none;
	padding-left: 0;
}

div.nodisplay ul {
	padding-left: 20px;
}

/*==================================*/

a {
	text-decoration: none;
	color: black;
}

.red {
	color: red;
}
